@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

body {
  font-family: "Afacad Flux", sans-serif;
  background-color: #212121;
  color: #7c7c7c;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
}

h1 {
  font-size: 50px;
  line-height: 60px;
}
@media (max-width: 1536px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 760px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 50px;
}
@media (max-width: 1536px) {
  h2 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media (max-width: 760px) {
  h2 {
    font-size: 24px;
    line-height: 34px;
  }
}

p {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
  color: #7c7c7c;
}
@media (max-width: 1536px) {
  p {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 760px) {
  p {
    font-size: 20px;
    line-height: 30px;
  }
}
p:last-child {
  margin-bottom: 0;
}
p.tag {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 760px) {
  p.tag {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
  }
}

b {
  font-weight: 400;
}

.sectionTitle {
  font-size: 11vh;
  line-height: 12vh;
  letter-spacing: 5px;
  font-weight: 100;
}
@media (max-width: 1024px) {
  .sectionTitle {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 760px) {
  .sectionTitle {
    font-size: 40px;
    line-height: 50px;
  }
}

.resumeLink {
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  background-color: white;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  z-index: 2;
}
.resumeLink i {
  margin-right: 10px;
  z-index: 2;
}
.resumeLink span {
  z-index: 2;
}

.linkBtn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 30px;
  background-color: #fff;
  grid-gap: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  border-radius: 40px;
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border: 1px solid transparent;
}
@media (max-width: 1536px) {
  .linkBtn {
    padding: 5px 30px;
  }
}
.linkBtn .circle2 {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
@media (max-width: 1536px) {
  .linkBtn .circle2 {
    font-size: 14px;
  }
}
.linkBtn .title2 {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.linkBtn .title-hover2 {
  position: absolute;
  left: 90px;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.linkBtn:hover {
  background-color: #000;
  border: 1px solid #fff;
}
.linkBtn:hover .circle2 {
  background: #fff;
  color: #000;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}
.linkBtn:hover .title2 {
  opacity: 0;
}
.linkBtn:hover .title-hover2 {
  opacity: 1;
  left: 30px;
  color: #fff;
}

.bodyInner {
  position: relative;
  width: calc(100% - 100px);
  max-width: 1720px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .bodyInner {
    padding-top: 100px;
  }
}
@media (max-width: 760px) {
  .bodyInner {
    width: calc(100% - 40px);
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.bodyInner .leftContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1536px) {
  .bodyInner .leftContainer {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .bodyInner .leftContainer {
    padding: 0;
    position: relative;
    height: auto;
    width: 100%;
    z-index: 1;
    margin-bottom: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.bodyInner .rightContainer {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: calc(50% + 100px);
  padding-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1600px) {
  .bodyInner .rightContainer {
    padding-top: 70px;
    padding-left: calc(50% + 50px);
  }
}
@media (max-width: 1024px) {
  .bodyInner .rightContainer {
    padding: 0;
    position: relative;
    height: auto;
    width: 100%;
  }
}

section {
  position: relative;
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 1536px) {
  section {
    padding: 50px 0;
  }
}
@media (max-width: 760px) {
  section {
    padding: 30px 0;
  }
}

.endTitle {
  position: relative;
}
.endTitle:after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -50px;
}
@media (max-width: 1536px) {
  .endTitle:after {
    bottom: -30px;
  }
}
@media (max-width: 760px) {
  .endTitle:after {
    display: none;
  }
}

.cardWrap {
  position: relative;
  padding-top: 100px;
}
@media (max-width: 1536px) {
  .cardWrap {
    padding-top: 50px;
  }
}
@media (max-width: 760px) {
  .cardWrap {
    padding-top: 0;
  }
}

.cardInner {
  position: relative;
  padding: 50px 0 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 100px;
  margin-top: 50px;
}
@media (max-width: 1536px) {
  .cardInner {
    grid-gap: 50px;
  }
}
@media (max-width: 760px) {
  .cardInner {
    grid-gap: 40px;
    padding: 0;
  }
}
.cardInner:before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 760px) {
  .cardInner:before {
    display: none;
  }
}
.cardInner .resumeCard {
  position: relative;
  padding: 30px;
  background-color: #181818;
  width: 100%;
  min-height: 300px;
}
.cardInner .resumeCard h2 {
  margin-bottom: 15px;
}
.cardInner .resumeCard h6 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
}
.cardInner .resumeCard h6 span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
}
.cardInner .resumeCard p {
  font-weight: 300;
  line-height: 1.2;
}
.cardInner .resumeCard:after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #181818;
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
@media (max-width: 760px) {
  .cardInner .resumeCard:after {
    left: 50%;
    top: 20px;
    -webkit-transform: translateY(-50%) rotate(45deg) translateX(-50%);
            transform: translateY(-50%) rotate(45deg) translateX(-50%);
  }
}
.cardInner .resumeCard:before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: -51px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 10px;
}
@media (max-width: 760px) {
  .cardInner .resumeCard:before {
    display: none;
  }
}

.skillCard {
  position: relative;
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 1536px) {
  .skillCard {
    margin-top: 70px;
  }
}
@media (max-width: 760px) {
  .skillCard {
    margin-top: 30px;
  }
}
.skillCard .sCard {
  position: relative;
  padding: 20px 0;
}
@media (max-width: 1536px) {
  .skillCard .sCard {
    padding: 10px 0;
  }
}
@media (max-width: 1536px) {
  .skillCard .sCard h2 {
    font-size: 24px;
    line-height: 34px;
  }
}
.skillCard .sCard:first-child {
  padding-top: 0;
}
.skillCard .sCard:last-child {
  padding-bottom: 0;
}
.skillCard .sCard .bar {
  position: relative;
  width: 100%;
  margin-top: 20px;
  max-width: 500px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1536px) {
  .skillCard .sCard .bar {
    margin-top: 10px;
  }
}
@media (max-width: 1024px) {
  .skillCard .sCard .bar {
    max-width: 100%;
  }
}
.skillCard .sCard .bar .barInner {
  position: absolute;
  width: attr(data-skill);
  height: 3px;
  background-color: #fff;
  left: 0;
  top: -1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.skillCard .sCard .bar .barInner:after {
  content: attr(data-skill);
  position: absolute;
  right: 0;
  top: -50px;
  padding: 10px;
  background-color: #181818;
}

.videoWrap {
  position: fixed;
  top: 0;
  max-width: 50%;
  right: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  .videoWrap {
    max-width: 100%;
  }
}
.videoWrap:after {
  content: "";
  position: absolute;
  background-color: rgba(33, 33, 33, 0.95);
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.jobsWrap {
  position: relative;
  margin-top: 100px;
}
@media (max-width: 1536px) {
  .jobsWrap {
    margin-top: 70px;
  }
}
@media (max-width: 760px) {
  .jobsWrap {
    margin-top: 30px;
  }
}
.jobsWrap .projectWrap {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}
.jobsWrap .projectWrap:last-child {
  margin-bottom: 0;
}
.jobsWrap .projectWrap:after {
  content: "";
  position: absolute;
  background-color: rgba(33, 33, 33, 0.95);
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.jobsWrap .projectLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.jobsWrap .projectInner {
  position: relative;
  z-index: 1;
  padding: 40px;
  padding-bottom: 100px;
}
@media (max-width: 1536px) {
  .jobsWrap .projectInner {
    padding: 30px;
    padding-bottom: 80px;
  }
}
@media (max-width: 760px) {
  .jobsWrap .projectInner {
    padding: 30px 20px;
    padding-bottom: 60px;
  }
}
.jobsWrap .projectInner h3 {
  font-size: 32px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 760px) {
  .jobsWrap .projectInner h3 {
    font-size: 28px;
    line-height: 38px;
  }
}
.jobsWrap .iconWrap {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  right: 50px;
  bottom: 30px;
  -webkit-animation: arrowSlide 3s infinite;
          animation: arrowSlide 3s infinite;
}
@media (max-width: 760px) {
  .jobsWrap .iconWrap {
    width: 30px;
    height: 30px;
    right: 20px;
  }
}
@-webkit-keyframes arrowSlide {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes arrowSlide {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.jobsWrap .iconWrap i {
  color: #fff;
}
@media (max-width: 760px) {
  .jobsWrap .iconWrap i {
    font-size: 14px;
  }
}

.cursor {
  color: #fff;
}

.typing-container {
  overflow: hidden;
}
.typing-container .sectionTitle {
  margin-bottom: 20px;
}
.typing-container p {
  margin: 20px 0;
}

.cursor {
  -webkit-animation: blink 0.7s step-end infinite;
          animation: blink 0.7s step-end infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.contactWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  grid-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 1536px) {
  .contactWrap {
    margin-top: 70px;
  }
}
@media (max-width: 760px) {
  .contactWrap {
    margin-top: 30px;
  }
}
.contactWrap .contactCard {
  padding: 50px 30px;
  background-color: #181818;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 1536px) {
  .contactWrap .contactCard {
    padding: 30px;
  }
}
.contactWrap .contactCard a {
  font-size: 24px;
}
@media (max-width: 1536px) {
  .contactWrap .contactCard a {
    font-size: 18px;
  }
}
.contactWrap .contactCard a i {
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  color: #181818;
  margin-right: 20px;
  min-width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
@media (max-width: 1536px) {
  .contactWrap .contactCard a i {
    font-size: 18px;
    padding: 0;
    min-width: 40px;
    height: 40px;
  }
}